In [1]:
from utils import get_dataset, get_encoder, get_protected_attribute
import pandas as pd
from IPython import display
display.clear_output()
import numpy as np

In [2]:
datasets = ['lawschool', 'german', 'compas', 'bank', 'adult']

dataset_summary, dataset_dfs = {dataset: {} for dataset in datasets}, {dataset: {} for dataset in datasets} 
for dataset in datasets:
    X, y = get_dataset(dataset_key=dataset)

    df = X
    df['y'] = y.values
    dataset_dfs[dataset] = df

    encoder = get_encoder(X)
    X = pd.DataFrame(
        encoder.fit_transform(X), index=X.index
    )

    prot_attr = get_protected_attribute(dataset)
    prot = y.index.to_frame()[prot_attr].values

    dataset_summary[dataset]['num. samples'] = int(len(y))
    dataset_summary[dataset]['num. features'] = int(len(X.iloc[0]))
    dataset_summary[dataset]['pct. pos.'] = np.sum(y.astype(int)) / len(y)
    dataset_summary[dataset]['pct. neg.'] = 1 - (np.sum(y.astype(int)) / len(y))
    dataset_summary[dataset]['prot. attr.'] = prot_attr
    dataset_summary[dataset]['pct. priv.'] = np.sum(prot.astype(int)) / len(prot)
    dataset_summary[dataset]['pct. unpriv.'] = 1 - (np.sum(prot.astype(int)) / len(prot))

In [3]:
pd.DataFrame(dataset_summary).transpose()

,num. samples,num. features,pct. pos.,pct. neg.,prot. attr.,pct. priv.,pct. unpriv.
lawschool,22342,3,0.249888,0.750112,race,0.923865,0.076135
german,1000,52,0.7,0.3,sex,0.69,0.31
compas,5278,7,0.529557,0.470443,race,0.398446,0.601554
bank,7842,30,0.227748,0.772252,age,0.648176,0.351824
adult,46033,34,0.248126,0.751874,race,0.856864,0.143136

In [4]:
dataset = 'lawschool'

In [5]:
dataset_dfs[dataset]

      lsat  ugpa      y
race
1     40.0   3.3  False
1     33.0   2.9  False
1     35.0   2.5  False
1     35.0   3.4   True
1     32.0   3.1  False
...    ...   ...    ...
0     27.0   3.9  False
1     42.0   3.7  False
1     39.0   3.1  False
1     39.0   3.4   True
1     36.0   2.9  False

[22342 rows x 3 columns]

In [6]:
dataset_dfs[dataset].dtypes

lsat    float64
ugpa    float64
y          bool
dtype: object

In [10]:
dataset_dfs[dataset].nunique()

sex                 2
age                62
juv_fel_count       9
juv_misd_count     10
juv_other_count     8
priors_count       36
c_charge_degree     2
y                   2
dtype: int64

In [11]:
dataset_dfs[dataset]['savings_status'].unique()

['<100', '100<=X<500', '>=1000', '500<=X<1000', 'no known savings']
Categories (5, object): ['<100', '100<=X<500', '>=1000', '500<=X<1000', 'no known savings']

In [7]:
y

race
1       False
1       False
1       False
1        True
1       False
        ...
0       False
1       False
1       False
1        True
1       False
Name: zfygpa, Length: 22342, dtype: bool

In [12]:
dataset_dfs[dataset]['employment'].unique()

['unemployed', '1<=X<4', '<1', '>=7', '4<=X<7']
Categories (5, object): ['unemployed', '1<=X<4', '<1', '>=7', '4<=X<7']